header {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h1 {
    letter-spacing: 1rem;
    color: #012;
    font-weight: 400;
}

main {
    height: 600px;
    background: greenyellow;
}

#board-container{
    height: 100px;
    width: 200px;
}

#current-player {
    height: 30px;
}

#board {
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    border: 1px solid white;
}

#board div {
    border: 1px solid white;
    background-color: dodgerblue;
    text-align: center;
}

#popup-container, #results-popup {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
}

#popup, #results {
    height: 300px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#results-container {
    display: none;
}

#results {
    background-color: rgba(255, 255, 255, 0.5);
}

#popup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    margin: 10px;
}

footer {
    text-align: center;
    font-size: xx-large;
}