body {
    font-family: Helvetica, sans-serif;
}

header {
    text-align: center;
}

h1 {
    letter-spacing: 1rem;
    color: #012;
    font-weight: 400;
}

main {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #cdf;
    height: 500px;
    width: 500px;
    font-size: xx-large;
}

#current-player {
    height: 100px;
    text-align: center;
    margin: 20px;
}

#board {
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    grid-gap: 2px;
}

#board div {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-align: center;
}

#popup-container, #results-container {
    height: 300px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

}

#popup, #results {
    height: 200px;
    width: 400px;
    background-color: white;
    text-align: center;
}

#results-container {
    display: none;
}

#popup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    font-size: 1em;
    margin: 10px;
    width: 1em;
    text-align: center;
}

#popup button {
    height: 25px;
    width: 50px;
}

button {
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 1px 1px 1px darkgray;
}

footer {
    text-align: center;
    font-size: xx-large;
}